body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px; /* Set the height of the container */
    width: 600px;
    border: 1px solid #ccc; /* Optional for visualization */
    background-color: #f4f4f9; /* Optional background */
}

.inner-div {
    width: 20px;
    height: 20px;
    position: absolute;
}